# Step 1: Read in Data from Pushshift API

In [5]:
#import libraries needed

import requests
import pandas as pd
import time

In [6]:
#url for pushshift API
url='https://api.pushshift.io/reddit/search/submission'

In [7]:
#Create function to read in reddit data based on which subreddits you want, and how many records you want to collect
def get_more_data(subreddit,num_times_100):
    counter=0
    all_posts=[]
    earliest_time_stamp=1638348974
    for i in range(1,num_times_100+1):
        time.sleep(60)
        params= {
            'subreddit':subreddit,
            'size': 100,
            'sort':'desc',
            'sort_type' :'created_utc',
            'before' : earliest_time_stamp,
            'fields': ('subreddit','created_utc','selftext','title')}
        res=requests.get(url, params)
        print(res.status_code)
        data=res.json()
        posts=data['data']
        all_posts+=posts
        df_mini=pd.DataFrame(posts)
        earliest_time_stamp=df_mini.created_utc.min()
    df=pd.DataFrame(all_posts)
    return df

In [8]:
#grab last 10,000 posts from Analytics subreddit
analytics_posts=get_more_data('analytics',100)    
analytics_posts

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

,created_utc,selftext,subreddit,title
0,1638336311,I'm currently working in data science domain w...,analytics,Shifting from data science to business analytics
1,1638329587,[removed],analytics,What is it like working at Kraken in a data sc...
2,1638310193,"Hi all.\n\nReading over this, it is a bit of a...",analytics,Is my workplace typical for analytics or shoul...
3,1638307614,[removed],analytics,Getting the dislike bar back on YouTube
4,1638296966,And the cycle repeats. ü§¶‚Äç‚ôÇÔ∏è,analytics,"Write initial ETL, xyz changes happen in the b..."
...,...,...,...,...
9991,1500469974,,analytics,5 Super Annoying Things In Google Analytics
9992,1500466920,And how much do ad-hoc reporting requests affe...,analytics,Where did you start with your data democratiza...
9993,1500466904,,analytics,Easy to use DataStudio template for marketers....
9994,1500454926,Hi guys\n\nI've been given the task of looking...,analytics,Place tool for market/industry insights
9995,1500445192,I am looking for a career in data analytics sp...,analytics,Data analytics in football

In [9]:
#grab last 10,000 posts from Data Science subreddit 
datascience_posts=get_more_data('datascience',100)    
datascience_posts

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

,created_utc,selftext,subreddit,title
0,1638348806,Ideally would love a program that goes at my o...,datascience,Can a master's in DS from WGU or like universi...
1,1638348235,,datascience,Data Scientists in Germany: What to expect as ...
2,1638344086,,datascience,How's Pluralsight for Data Science?
3,1638341696,I am trying to implement this for car dashcam ...,datascience,vid2depth on custom video
4,1638333037,\n\nShould I buy this offer if I now the basi...,datascience,DataCamp CyberMonday Offer
...,...,...,...,...
9995,1618585374,,datascience,Jupyter-flex - Build dashboards using Jupyter ...
9996,1618582526,,datascience,"When considering a career in data science, wha..."
9997,1618582145,I know Umich is a great school and Pitt is a g...,datascience,Pitt vs Umich
9998,1618580778,,datascience,Is cloud knowledge a necessity when trying to ...
9999,1618580192,"Hi everyone,\n\nWe are looking on a new text a...",datascience,[R] Ubiai survey

In [10]:
# join data together to have 1 dataset
both_posts=pd.concat([datascience_posts,analytics_posts])
both_posts

,created_utc,selftext,subreddit,title
0,1638348806,Ideally would love a program that goes at my o...,datascience,Can a master's in DS from WGU or like universi...
1,1638348235,,datascience,Data Scientists in Germany: What to expect as ...
2,1638344086,,datascience,How's Pluralsight for Data Science?
3,1638341696,I am trying to implement this for car dashcam ...,datascience,vid2depth on custom video
4,1638333037,\n\nShould I buy this offer if I now the basi...,datascience,DataCamp CyberMonday Offer
...,...,...,...,...
9991,1500469974,,analytics,5 Super Annoying Things In Google Analytics
9992,1500466920,And how much do ad-hoc reporting requests affe...,analytics,Where did you start with your data democratiza...
9993,1500466904,,analytics,Easy to use DataStudio template for marketers....
9994,1500454926,Hi guys\n\nI've been given the task of looking...,analytics,Place tool for market/industry insights
9995,1500445192,I am looking for a career in data analytics sp...,analytics,Data analytics in football

In [11]:
#create a binary indicator for data science posts 
both_posts['ds_ind']=both_posts['subreddit'].apply(lambda x: 1 if x=='datascience' else 0)

,selftext,subreddit,title,ds_ind
0,Ideally would love a program that goes at my o...,datascience,Can a master's in DS from WGU or like universi...,1
1,,datascience,Data Scientists in Germany: What to expect as ...,1
2,,datascience,How's Pluralsight for Data Science?,1
3,I am trying to implement this for car dashcam ...,datascience,vid2depth on custom video,1
4,\n\nShould I buy this offer if I now the basi...,datascience,DataCamp CyberMonday Offer,1
...,...,...,...,...
9991,,analytics,5 Super Annoying Things In Google Analytics,0
9992,And how much do ad-hoc reporting requests affe...,analytics,Where did you start with your data democratiza...,0
9993,,analytics,Easy to use DataStudio template for marketers....,0
9994,Hi guys\n\nI've been given the task of looking...,analytics,Place tool for market/industry insights,0
9995,I am looking for a career in data analytics sp...,analytics,Data analytics in football,0

In [13]:
#write final datset to CSV for next steps
both_posts.to_csv('./data/both_posts_step1_xl.csv')